<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <% include ../partials/header %>

    <div id="slider">
      <figure id="figure_slider">
        <img src="https://wallpaperplay.com/walls/full/e/3/d/43118.jpg" alt="imagem 1" title="imagem 1">
      </figure>
      <div class="change-left">
        <span id="bt_left"></span>
      </div>
      <div class="change-right">
        <span id="bt_right"></span>
      </div>
      <div id="informations" class="text-slider">
        <h2>Nam et esse oblique delicatissimi, per ne utamur liberavisse. Quo ad vivendo vituperatoribus, mel ad magna expetenda instructior, ex pro etiam corrumpit interpretaris</h2>
      </div>
      <nav>
        <ul id="select_img">
          <li><img src="https://wallpaperplay.com/walls/full/e/3/d/43118.jpg" class="img-icon fadeIn" alt=""></li>
          <li><img src="https://images.alphacoders.com/717/thumb-1920-717886.jpg" class="img-icon fadeIn" alt=""></li>
          <li><img src="https://i.pinimg.com/originals/05/72/e9/0572e944ecac357badd0ef4778afea41.jpg" class="img-icon fadeIn" alt=""></li>
        </ul>
      </nav>
    </div>

      <script src="js/script.js"></script>
    <% include ../partials/footer %>
  </body>
</html>
